<form class="form-horizontal" action="">
	<div class="form-group form-group-lg">
		<label for="inputName" class="col-sm-4 control-label">Nombre y Apellido</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="inputName">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label for="inputAddress" class="col-sm-4 control-label">Dirección Completa <span class="help-block">calle, número, piso, departamento, ciudad, código postal</span></label>
		<div class="col-sm-8">
			<textarea class="form-control" rows="3" id="inputAddress"></textarea>
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label for="inputTelephone" class="col-sm-4 control-label">Teléfono</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="inputTelephone">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label for="inputMail" class="col-sm-4 control-label">e-mail</label>
		<div class="col-sm-5">
			<input type="email" class="form-control" id="inputMail">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label for="inputProducts" class="col-sm-4 control-label">Producto/s</span></label>
		<div class="col-sm-5">
			<textarea class="form-control" rows="3" id="inputProducts"></textarea>
		</div>
	</div>
	<div class="form-group form-group-lg">
		<div class="col-sm-offset-4 col-sm-5">
			<button type="submit" class="btn btn-blue btn-block">Enviar</button>
		</div>
	</div>
</form>