<div id="contact" class="container">
	<header>
		<nav>
			<a class="btn btn-red" ui-sref="contact.retail" ui-sref-active="active" role="button">Venta por menor</a>
			<a class="btn btn-red" ui-sref="contact.wholesale" ui-sref-active="active" role="button">Venta por mayor</a>
		</nav>
		<h2>¿Te interesa alguno de nuestros productos?</h2>
		<h5>Completá el siguiente formulario asi podemos contactarte</h5>
	</header>
	<main>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div ui-view></div>
			</div>
		</div>
	</main>
</div>