<div id="home">
	<section id="hero">
		<div class="container">
			<figure class="logo">
				kiwi
			</figure>
			<div class="jumbotron">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active">
						<div class="slide-wrapper" ui-sref="{{slide.state}}">
							<div class="slide-image">
								<img class=" img-responsive" ng-src="{{slide.image}}">		
							</div>
							<div class="slide-caption">
								<h1>#<br>{{slide.text}}</h1>
							</div>	
						</div>
					</slide>
				</carousel>
			</div>
		</div>
	</section>
	<section id="collection">
		<div class="container">
			<h1>Colección 2015</h1>
			<h3>Bolsos, Mochilas, Morrales...</h3>
			<a ui-sref="products" class="btn btn-white">Mirá nuestros productos</a>
		</div>
	</section>
	<section id="mission">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-5 col-sm-7">
					<h6 class="text-left">Misión</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-1 col-sm-4" id="image-wrapper">
					<img src="../images/home-mission-img.jpg" class="img-responsive" height="581" width="390" alt="">
					<div class="square"></div>
				</div>
				<div class="col-sm-7">
					<div id="outline">
						<h1><u>Llevá todo<br> lo que necesitás<br> para que tu día<br> sea un gran día.</u></h1>
						<img src="../images/home-mission-pet.gif" height="113" width="113" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="social">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-4" id="instagram-feed">
						<div ng-repeat="p in pics | limitTo:6" class="col-xs-6 instagram-pic">
								<a title="{{p.caption.text}}" href="{{p.link}}" target="_blank"><img ng-src="{{p.images.standard_resolution.url}}" class="img-responsive" /></a>
						</div>
						<div class="clearfix visible-xs-block"></div>
						<div class="square"></div>
				</div>
				<div class="col-sm-4" id="social-content">
					<h2>seguí<br> las historias<br> detrás<br> de <strong>kiwi&hellip;</strong></h2>
					<div class="bottom">
						<i class="fa fa-instagram"></i>
						<a class="btn btn-blue" href="https://www.instagram.com/kiwi.bolsas" target="_blank">Inspirate</a>	
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-md-block"></div>
			</div>
		</div>
	</section>
</div>
